<template name="onboarding">
  {{#contentFor region="contentToolbar"}}
    <h3>Opynios</h3>
  {{/contentFor}}

    {{#each polls}}
    <div class="poll-card">
        <paper-shadow z="1" class="poll-card">
            <div class="poll-header">
                <a href="{{poll_user_img_url}}" flex two> <img class="avatar" src="{{poll_user_img_url}}"/></a>
                <span class="question" flex>{{question}}</span>
            </div>
        </paper-shadow>

            {{#each opinions}}
                <paper-shadow z="1" class="opinion-card">
                    <div class="opinion-header">
                        <div class="header-avatar">
                            <a href="{{opinion_user_img_url}}" flex two> <img src="{{opinion_user_img_url}}"> </a>
                        </div>
                        <div class="name">
                            <a href="{{opinion_user_img_url}}"> {{opinion_user_name}} </a>
                            <span class="time">{{time opinion_time}}</span>
                        </div>
                    </div>

                    <div class="pane">
                        <div class="opinion_content">
                            {{opinion}}
                        </div>
                        <div class="links">
                            <a href="{{like}}" class="like">Endorse</a>
                            <span class="dot"> · </span>
                            <a href="{{comments}}" class="comments">Comments</a>
                        </div>
                    </div>

                    <div class="opinion-footer">
                        {{#each comments}}
                            {{#if comment_deleted}}
                            {{else}}
                            <div class="comment">
                                <div class="comment-avatar">
                                    <a href="{{comment_user_img_url}}"><img src="{{comment_user_img_url}}"></a>
                                </div>
                                <div class="comment-content">
                                    <div class="text">
                                        <a href="{{comment_user_img_url}}">{{comment_user_name}}</a> {{comment_text}}
                                        <span class="time">{{time comment_time}}</span>
                                    </div>
                                </div>
                            </div>
                            {{/if}}
                        {{/each}}
                    </div>

                    <div class="post-comment">
                        <div class="post-comment-img">
                            <a href="{{opinion_user_img_url}}" flex two> <img src="{{opinion_user_img_url}}"/></a>
                        </div>
                        <div class="post-comment-input">
                            <input on-change="{{postComment}}" value="{{newcomment}}" placeholder="Write a comment">
                        </div>
                    </div>

                </paper-shadow>
            {{/each}}
    </div>
    {{/each}}



</template>

